:root {
    --black: hsla(0, 0%, 0%, 1);
    --white: hsla(0, 0%, 100%, 1);

    --black-100: hsla(0, 0%, 0%, 1);
    --blue-10: hsla(213, 100%, 96%, 1);
    --blue-20: hsla(217, 100%, 91%, 1);
    --blue-30: hsla(217, 100%, 83%, 1);
    --blue-40: hsla(218, 100%, 74%, 1);
    --blue-50: hsla(218, 100%, 64%, 1);
    --blue-60: hsla(219, 99%, 53%, 1);
    --blue-70: hsla(220, 100%, 40%, 1);
    --blue-80: hsla(223, 100%, 31%, 1);
    --blue-90: hsla(224, 100%, 21%, 1);
    --blue-100: hsla(224, 100%, 13%, 1);
    --cool-gray-10: hsla(220, 30%, 96%, 1);
    --cool-gray-20: hsla(213, 15%, 88%, 1);
    --cool-gray-30: hsla(210, 11%, 78%, 1);
    --cool-gray-40: hsla(210, 8%, 66%, 1);
    --cool-gray-50: hsla(216, 7%, 56%, 1);
    --cool-gray-60: hsla(210, 6%, 44%, 1);
    --cool-gray-70: hsla(207, 7%, 32%, 1);
    --cool-gray-80: hsla(207, 10%, 23%, 1);
    --cool-gray-90: hsla(200, 12%, 15%, 1);
    --cool-gray-100: hsla(206, 16%, 8%, 1);
    --cyan-10: hsla(201, 100%, 95%, 1);
    --cyan-20: hsla(202, 100%, 86%, 1);
    --cyan-30: hsla(203, 100%, 75%, 1);
    --cyan-40: hsla(203, 100%, 60%, 1);
    --cyan-50: hsla(204, 86%, 49%, 1);
    --cyan-60: hsla(205, 100%, 38%, 1);
    --cyan-70: hsla(208, 100%, 30%, 1);
    --cyan-80: hsla(208, 100%, 21%, 1);
    --cyan-90: hsla(208, 97%, 15%, 1);
    --cyan-100:hsla(209, 73%, 9%, 1);
    --gray-10: hsla(0, 0%, 96%, 1);
    --gray-20: hsla(0, 0%, 88%, 1);
    --gray-30: hsla(0, 0%, 78%, 1);
    --gray-40: hsla(0, 0%, 66%, 1);
    --gray-50: hsla(0, 0%, 55%, 1);
    --gray-60: hsla(0, 0%, 44%, 1);
    --gray-70: hsla(0, 0%, 32%, 1);
    --gray-80: hsla(0, 0%, 22%, 1);
    --gray-90: hsla(0, 0%, 15%, 1);
    --gray-100:hsla(0, 0%, 9%, 1);
    --green-10: hsla(137, 78%, 93%, 1);
    --green-20: hsla(136, 71%, 80%, 1);
    --green-30: hsla(136, 61%, 65%, 1);
    --green-40: hsla(137, 49%, 50%, 1);
    --green-50: hsla(137, 63%, 39%, 1);
    --green-60: hsla(138, 67%, 30%, 1);
    --green-70: hsla(138, 75%, 22%, 1);
    --green-80: hsla(138, 89%, 14%, 1);
    --green-90: hsla(135, 91%, 9%, 1);
    --green-100:hsla(123, 56%, 6%, 1);
    --magenta-10: hsla(332, 100%, 97%, 1);
    --magenta-20: hsla(334, 100%, 92%, 1);
    --magenta-30: hsla(334, 100%, 84%, 1);
    --magenta-40: hsla(334, 100%, 75%, 1);
    --magenta-50: hsla(334, 82%, 63%, 1);
    --magenta-60: hsla(334, 69%, 48%, 1);
    --magenta-70: hsla(334, 74%, 36%, 1);
    --magenta-80: hsla(334, 86%, 25%, 1);
    --magenta-90: hsla(334, 95%, 16%, 1);
    --magenta-100:hsla(334, 62%, 10%, 1);
    --orange-10: hsla(26, 100%, 95%, 1);
    --orange-20: hsla(25, 100%, 87%, 1);
    --orange-30: hsla(25, 100%, 76%, 1);
    --orange-40: hsla(25, 100%, 58%, 1);
    --orange-50: hsla(25, 100%, 46%, 1);
    --orange-60: hsla(25, 100%, 36%, 1);
    --orange-70: hsla(24, 100%, 27%, 1);
    --orange-80: hsla(26, 100%, 18%, 1);
    --orange-90: hsla(25, 100%, 12%, 1);
    --orange-100:hsla(27, 100%, 7%, 1);
    --purple-10: hsla(258, 100%, 97%, 1);
    --purple-20: hsla(263, 100%, 93%, 1);
    --purple-30: hsla(262, 100%, 87%, 1);
    --purple-40: hsla(263, 100%, 79%, 1);
    --purple-50: hsla(263, 100%, 72%, 1);
    --purple-60: hsla(264, 97%, 62%, 1);
    --purple-70: hsla(265, 65%, 46%, 1);
    --purple-80: hsla(264, 65%, 33%, 1);
    --purple-90: hsla(264, 66%, 22%, 1);
    --purple-100:hsla(264, 52%, 12%, 1);
    --red-10: hsla(0, 100%, 97%, 1);
    --red-20: hsla(357, 100%, 92%, 1);
    --red-30: hsla(356, 100%, 85%, 1);
    --red-40: hsla(357, 100%, 76%, 1);
    --red-50: hsla(357, 95%, 64%, 1);
    --red-60: hsla(357, 76%, 49%, 1);
    --red-70: hsla(357, 73%, 37%, 1);
    --red-80: hsla(357, 79%, 26%, 1);
    --red-90: hsla(357, 91%, 17%, 1);
    --red-100: hsla(357, 73%, 10%, 1);
    --teal-10: hsla(180, 81%, 92%, 1);
    --teal-20: hsla(180, 73%, 78%, 1);
    --teal-30: hsla(179, 69%, 55%, 1);
    --teal-40: hsla(179, 92%, 39%, 1);
    --teal-50: hsla(179, 100%, 31%, 1);
    --teal-60: hsla(178, 100%, 25%, 1);
    --teal-70: hsla(180, 100%, 18%, 1);
    --teal-80: hsla(183, 100%, 13%, 1);
    --teal-90: hsla(187, 92%, 10%, 1);
    --teal-100:hsla(186, 56%, 7%, 1);
    --warm-gray-10: hsla(12, 24%, 96%, 1);
    --warm-gray-20: hsla(10, 10%, 89%, 1);
    --warm-gray-30: hsla(10, 5%, 78%, 1);
    --warm-gray-40: hsla(0, 3%, 67%, 1);
    --warm-gray-50: hsla(0, 2%, 55%, 1);
    --warm-gray-60: hsla(0, 2%, 44%, 1);
    --warm-gray-70: hsla(0, 3%, 33%, 1);
    --warm-gray-80: hsla(0, 3%, 23%, 1);
    --warm-gray-90: hsla(0, 3%, 15%, 1);
    --warm-gray-100: hsla(0, 7%, 8%, 1);
    --white-0: hsla(0, 0%, 100%, 1);
    --yellow-10: hsla(47, 86%, 91%, 1);
    --yellow-20: hsla(47, 97%, 70%, 1);
    --yellow-30: hsla(47, 88%, 53%, 1);
    --yellow-40: hsla(46, 94%, 42%, 1);
    --yellow-50: hsla(45, 100%, 35%, 1);
    --yellow-60: hsla(45, 100%, 28%, 1);
    --yellow-70: hsla(45, 100%, 20%, 1);
    --yellow-80: hsla(46, 100%, 14%, 1);
    --yellow-90: hsla(45, 100%, 9%, 1);
    --yellow-100: hsla(45, 100%, 5%, 1);

    --white-hover: hsla(0, 0%, 91%, 1);
    --black-hover: hsla(0, 0%, 13%, 1);
    --blue-10-hover: hsla(213, 100%, 93%, 1);
    --blue-20-hover: hsla(217, 100%, 86%, 1);
    --blue-30-hover: hsla(217, 100%, 77%, 1);
    --blue-40-hover: hsla(218, 100%, 68%, 1);
    --blue-50-hover: hsla(218, 100%, 56%, 1);
    --blue-60-hover: hsla(219, 100%, 45%, 1);
    --blue-70-hover: hsla(220, 100%, 50%, 1);
    --blue-80-hover: hsla(223, 100%, 39%, 1);
    --blue-90-hover: hsla(224, 100%, 27%, 1);
    --blue-100-hover:hsla(224, 100%, 23%, 1);
    --cool-gray-10-hover: hsla(217, 32%, 92%, 1);
    --cool-gray-20-hover: hsla(212, 15%, 83%, 1);
    --cool-gray-30-hover: hsla(210, 11%, 71%, 1);
    --cool-gray-40-hover: hsla(210, 8%, 60%, 1);
    --cool-gray-50-hover: hsla(218, 6%, 49%, 1);
    --cool-gray-60-hover: hsla(210, 6%, 37%, 1);
    --cool-gray-70-hover: hsla(208, 7%, 39%, 1);
    --cool-gray-80-hover: hsla(210, 9%, 29%, 1);
    --cool-gray-90-hover: hsla(202, 11%, 19%, 1);
    --cool-gray-100-hover: hsla(203, 16%, 16%, 1);
    --cyan-10-hover: hsla(200, 100%, 90%, 1);
    --cyan-20-hover: hsla(202, 100%, 80%, 1);
    --cyan-30-hover: hsla(203, 100%, 67%, 1);
    --cyan-40-hover: hsla(203, 100%, 51%, 1);
    --cyan-50-hover: hsla(204, 86%, 42%, 1);
    --cyan-60-hover: hsla(205, 100%, 32%, 1);
    --cyan-70-hover: hsla(208, 100%, 37%, 1);
    --cyan-80-hover: hsla(208, 100%, 27%, 1);
    --cyan-90-hover: hsla(208, 98%, 19%, 1);
    --cyan-100-hover: hsla(210, 73%, 16%, 1);
    --gray-10-hover: hsla(0, 0%, 91%, 1);
    --gray-20-hover: hsla(0, 0%, 82%, 1);
    --gray-30-hover: hsla(0, 0%, 71%, 1);
    --gray-40-hover: hsla(0, 0%, 60%, 1);
    --gray-50-hover: hsla(0, 0%, 48%, 1);
    --gray-60-hover: hsla(0, 0%, 37%, 1);
    --gray-70-hover: hsla(0, 0%, 39%, 1);
    --gray-80-hover: hsla(0, 0%, 28%, 1);
    --gray-90-hover: hsla(0, 0%, 20%, 1);
    --gray-100-hover: hsla(0, 0%, 16%, 1);
    --green-10-hover: hsla(137, 78%, 84%, 1);
    --green-20-hover: hsla(136, 71%, 68%, 1);
    --green-30-hover: hsla(136, 61%, 51%, 1);
    --green-40-hover: hsla(137, 49%, 45%, 1);
    --green-50-hover: hsla(137, 63%, 34%, 1);
    --green-60-hover: hsla(138, 67%, 26%, 1);
    --green-70-hover: hsla(138, 74%, 26%, 1);
    --green-80-hover: hsla(138, 89%, 17%, 1);
    --green-90-hover: hsla(135, 90%, 12%, 1);
    --green-100-hover: hsla(123, 57%, 12%, 1);
    --magenta-10-hover: hsla(331, 100%, 94%, 1);
    --magenta-20-hover: hsla(334, 100%, 87%, 1);
    --magenta-30-hover: hsla(334, 100%, 79%, 1);
    --magenta-40-hover: hsla(334, 100%, 67%, 1);
    --magenta-50-hover: hsla(334, 82%, 49%, 1);
    --magenta-60-hover: hsla(334, 68%, 41%, 1);
    --magenta-70-hover: hsla(334, 74%, 43%, 1);
    --magenta-80-hover: hsla(334, 86%, 30%, 1);
    --magenta-90-hover: hsla(334, 94%, 21%, 1);
    --magenta-100-hover: hsla(334, 61%, 20%, 1);
    --orange-10-hover: hsla(26, 100%, 90%, 1);
    --orange-20-hover: hsla(25, 100%, 81%, 1);
    --orange-30-hover: hsla(25, 100%, 67%, 1);
    --orange-40-hover: hsla(25, 100%, 49%, 1);
    --orange-50-hover: hsla(25, 100%, 40%, 1);
    --orange-60-hover: hsla(25, 100%, 31%, 1);
    --orange-70-hover: hsla(24, 100%, 33%, 1);
    --orange-80-hover: hsla(26, 100%, 23%, 1);
    --orange-90-hover: hsla(25, 100%, 16%, 1);
    --orange-100-hover: hsla(27, 100%, 13%, 1);
    --purple-10-hover: hsla(258, 100%, 95%, 1);
    --purple-20-hover: hsla(263, 100%, 89%, 1);
    --purple-30-hover: hsla(262, 100%, 82%, 1);
    --purple-40-hover: hsla(263, 100%, 74%, 1);
    --purple-50-hover: hsla(263, 100%, 66%, 1);
    --purple-60-hover: hsla(264, 96%, 56%, 1);
    --purple-70-hover: hsla(265, 65%, 54%, 1);
    --purple-80-hover: hsla(264, 66%, 41%, 1);
    --purple-90-hover: hsla(264, 66%, 29%, 1);
    --purple-100-hover: hsla(264, 52%, 23%, 1);
    --red-10-hover: hsla(0, 100%, 94%, 1);
    --red-20-hover: hsla(357, 100%, 88%, 1);
    --red-30-hover: hsla(356, 100%, 80%, 1);
    --red-40-hover: hsla(357, 100%, 69%, 1);
    --red-50-hover: hsla(357, 94%, 48%, 1);
    --red-60-hover: hsla(357, 76%, 41%, 1);
    --red-70-hover: hsla(357, 73%, 44%, 1);
    --red-80-hover: hsla(357, 79%, 32%, 1);
    --red-90-hover: hsla(357, 91%, 21%, 1);
    --red-100-hover: hsla(357, 73%, 19%, 1);
    --teal-10-hover: hsla(180, 80%, 82%, 1);
    --teal-20-hover: hsla(180, 73%, 62%, 1);
    --teal-30-hover: hsla(179, 69%, 47%, 1);
    --teal-40-hover: hsla(179, 92%, 35%, 1);
    --teal-50-hover: hsla(179, 100%, 27%, 1);
    --teal-60-hover: hsla(178, 100%, 21%, 1);
    --teal-70-hover: hsla(180, 100%, 22%, 1);
    --teal-80-hover: hsla(183, 100%, 17%, 1);
    --teal-90-hover: hsla(187, 91%, 13%, 1);
    --teal-100-hover: hsla(186, 55%, 13%, 1);
    --warm-gray-10-hover: hsla(12, 25%, 92%, 1);
    --warm-gray-20-hover: hsla(7, 10%, 83%, 1);
    --warm-gray-30-hover: hsla(15, 5%, 71%, 1);
    --warm-gray-40-hover: hsla(0, 3%, 60%, 1);
    --warm-gray-50-hover: hsla(0, 2%, 49%, 1);
    --warm-gray-60-hover: hsla(0, 2%, 37%, 1);
    --warm-gray-70-hover: hsla(0, 3%, 40%, 1);
    --warm-gray-80-hover: hsla(0, 3%, 29%, 1);
    --warm-gray-90-hover: hsla(0, 2%, 20%, 1);
    --warm-gray-100-hover: hsla(0, 7%, 16%, 1);
    --yellow-10-hover: hsla(48, 86%, 80%, 1);
    --yellow-20-hover: hsla(47, 97%, 57%, 1);
    --yellow-30-hover: hsla(47, 88%, 46%, 1);
    --yellow-40-hover: hsla(46, 95%, 38%, 1);
    --yellow-50-hover: hsla(45, 100%, 31%, 1);
    --yellow-60-hover: hsla(45, 100%, 23%, 1);
    --yellow-70-hover: hsla(45, 100%, 25%, 1);
    --yellow-80-hover: hsla(46, 100%, 18%, 1);
    --yellow-90-hover: hsla(45, 100%, 12%, 1);
    --yellow-100-hover: hsla(45, 100%, 10%, 1);
}
